<!-- <div style="display: flex; justify-content: center; align-items: center;"> -->
<div class="d-flex justify-content-center align-items-center">
  <mat-card style="width: 75%; padding-bottom: 22px;">
    <div class="header-content p-3 title bg-light-gray">
      <h6 class="m-0">
        Course to add to My Courses
      </h6>
    </div>

    <div class="course-content">
      <div class="fields mt-1">
        <div class="field">
          <mat-form-field>
            <input matInput [(ngModel)]="code" type="text" placeholder="Code" name="code" />
          </mat-form-field>
        </div>
        <div class="field">
          <mat-form-field>
            <input matInput [(ngModel)]="grade" type="text" placeholder="Grade" name="grade" />
          </mat-form-field>
        </div>
        <div class="field">
          <mat-form-field>
            <input matInput [(ngModel)]="term" type="text" placeholder="Term" name="term" />
          </mat-form-field>
        </div>
      </div>
    </div>
    <mat-card-actions vertical-align='bottom' align='end' style="margin: 10px 10px 0 0;">
      <button mat-raised-button color="primary" (click)="addToMycourse()">
        Add Course
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<!-- <button class="mb-3" mat-raised-button color="primary" (click)="addCourse()"
  style="float: right; margin: 30px 330px 0 0">Add Course
</button> -->
<!-- </div> -->