/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%; 
  margin: 0;
  padding: 0;
  background-color: #f8f8f8 !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button { outline: none !important; }
a { text-decoration: none !important; }

.circular-btn {
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  cursor: pointer;
}
.circular-btn:hover {
  background-color: #38353510;
}

.title {
  margin-top: -16px !important;
  margin-left: -16px !important;
  margin-right: -16px !important;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 5px;
}

.sub-title {
  margin-left: -24px !important;
  margin-right: -24px !important;
  margin-bottom: 5px;
}

/* Text Colors */
.white { color: white !important; }
.green { color: #74da6b !important; }
.dark-gray { color: #4C4C4C !important; }
.gray { color: #9B9B9B !important; }
.light-gray { color: #E4E4E4 !important; }
.purple { color: #5E10BC !important; }
.light-purple { color:#8559e6 !important; }

/* #8FD988 */
  /* #70C056 */
/* Background Colors */
.bg-white { background-color: #f8f8f8; }
.bg-green { background-color: #8FD988; }
.bg-gray { background-color: #9B9B9B; }
.bg-dark-gray { background-color: #4C4C4C; }
.bg-light-gray { background-color: #E4E4E4; }

/* Mat Colors */
.mat-raised-button {
  color: white !important;
}
