<!-- <div class="apps-container">
  <button class="app" mat-raised-button color="accent" (click)="detectCourseCatalog()">
    Course Catalog
  </button>

  <button class="app" mat-raised-button color="accent" (click)="detentGpaCalculator()">
    GPA Calculator
  </button>

  <button class="app" mat-raised-button color="accent" (click)="detectGradeDistribution()">
    Grade Distribution
  </button>
</div> -->




<div class="app-container">
  <div class="app-icon">
    <img src="../../../assets/SVG/first-icon.svg" height="300" width="300" (click)="detectCourseCatalog()">
    <p>Course Catalog</p>
  </div>
  <div class="app-icon">
    <img src="../../../assets/SVG/first-icon.svg" height="300" width="300" (click)="detectGradeDistribution()">
    <p>Grade Distribution</p>
  </div>
</div>