header {
  padding: 20px;
  background-color: #5E10BC;
  /* height: 100%; */
}

.nav-link {
  padding-left: 12px;
  padding-right: 12px;
}

.nav-link:hover {
  cursor: pointer;
  border-bottom-color: #388e3c !important;
}

li {
  list-style: none;
}