<div class="form-container">
  <span class="title">Log In</span>
  <br>
  <form class="form">
    <mat-form-field appearance="fill">
      <mat-label>email</mat-label>
      <input matInput placeholder="john@email.com" [formControl]="email" required>
      <mat-error *ngIf="myForm.hasError('required', 'email')"></mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>password</mat-label>
      <input matInput #input required placeholder="Password" [type]="hide ? 'password' : 'text'" [formControl]="password" required>
      <mat-error *ngIf="myForm.hasError('required', 'password')">Invalid Password</mat-error>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-hint align="end">{{input.value?.length || 0}}/8</mat-hint>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>confirm password</mat-label>
      <input matInput #input required placeholder="Confirm Password" [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" [errorStateMatcher]="matcher">
      <mat-error *ngIf="myForm.hasError('notSame')">Passwords Do not Match</mat-error>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-hint align="end">{{input.value?.length || 0}}/8</mat-hint>
    </mat-form-field>

  </mat-form-field>

    <br>
    <input type="button" id="back-button" class="button" value="Back">
    <input type="submit" id="submit-button" class="button" value="Sign In">

  </form>

</div>
