<p>Apps Container Works</p>

<button mat-raised-button color="accent" (click)="detectApp()">
  Course Catalog App
</button>

<!-- <div *ngIf="viewCatalog" (onFinished)="hideViewCatalog($event)">
  <app-course-catalog-container></app-course-catalog-container>
</div> -->

<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>

<!-- <div class="upload">
  <label id="fileLabel" class="file-btn green circular-btn">
    <img src="../../../assets/assignment-white-48dp.svg">
<hr>
Curriculum
</label>
<input style="display: none" id="curriculum" (click)="detectApp()">
</div> -->