mat-form-field {
  margin-left: 10px;
  padding-right: 10px;
}

/* mat-card {
  height: 500px;
  overflow: auto;
} */
mat-card {
  padding-bottom: 90px;
  min-width: 550px;
  max-height: 500px;
}

mat-table {
  max-height: 340px;
  overflow-y: scroll;
}

.sub-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.back-button {
  display: flex;
  /* flex-direction: row; */
  /* align-items: center; */
}

a {
  cursor: pointer;
}
.active {
  background-color: #deceff;
}

tr.mat-header-row {
  min-width: 50%
}

/* table.mat-table {
  display: table;
} */

/* .data-table {
  overflow: auto;
  padding-bottom: 200px;
  min-height: 300px;
  max-height: 500px;
} */

.inputs {
  flex: 1;
}
.inputs label {
  margin: 10px auto
}
.inputs button {
  min-width: 1em
}

.advanced-filter-buttons {
  margin-top: 1.5em;
  width: 100%;
}

#search-field {
  flex: 4;
}

#advanced-button {
  flex: 1;
}

.gpa {
  padding: 7px;
}

mat-header-row {
  position: sticky;
  top: -.5px;
  z-index: 100;
}

.mat-column-course_code {
  /* flex: 0 0 25% !important; */
  min-width: 140px !important;
  margin-right: -40px;
}

.mat-column-title {
  min-width: 250px !important;
}

.mat-column-worth {
  min-width: 140px !important;
  margin-right: -150px;
  margin-left: -20px;
}

.mat-column-grade {
  min-width: 140px !important;
}

.mat-column-pre {
  min-width: 380px !important;
  padding-left: 10px;
}

.mat-column-honor {
  min-width: 140px !important;
  margin-right: -150px;
  padding-left: 20px;
}

.mat-column-view {
  min-width: 140px !important;
}