<div class="auth">
  <div class="login-signup">
    <div class="login-page">
      <mat-card class="mat-elevation-z12">
        <mat-card-title class="text-center">
          SignIn/SignUp
        </mat-card-title>
        <mat-tab-group mat-stretch-tabs>
          <mat-tab label="Sign In">
            <mat-card-content>
              <form class="form" [formGroup]="logInForm">

                <mat-form-field>
                  <input matInput placeholder="email" formControlName="email" required />
                  <mat-icon matSuffix>email</mat-icon>
                  <mat-error *ngIf="logInForm.hasError('required', 'email')">
                    Email is Invalid
                  </mat-error>
                </mat-form-field>

                <mat-form-field>
                  <input matInput #input placeholder="password" formControlName="password" [type]="'password'"
                    required />
                  <mat-icon matSuffix>lock</mat-icon>
                  <mat-error *ngIf="logInForm.hasError('required', 'password')">
                    Password is required
                  </mat-error>
                  <mat-hint align="end">{{input.value?.length || 0}}/8</mat-hint>
                </mat-form-field>
                <button mat-raised-button color="primary" class="login-button" (click)="signin()">
                  Sign In
                </button>
              </form>
            </mat-card-content>
          </mat-tab>

          <mat-tab label="Sign Up">
            <mat-card-content>
              <form class="form" [formGroup]="registerForm">
                <mat-form-field>
                  <input matInput placeholder="email" formControlName="email" required>
                  <mat-error *ngIf="registerForm.hasError('required', 'email')">
                    Email is Invalid
                  </mat-error>
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="student id" formControlName="student_id">
                </mat-form-field>

                <mat-form-field>
                  <input matInput #input placeholder="Password" [type]="'password'" placeholder="New password"
                    formControlName="password" required>
                  <mat-icon matSuffix>lock</mat-icon>
                  <mat-error *ngIf="registerForm.hasError('required', 'password')">
                    Password is required
                  </mat-error>
                  <mat-hint align="end">{{input.value?.length || 0}}/8</mat-hint>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Confirm password" [type]="'password'" formControlName="confirmPassword"
                    [errorStateMatcher]="matcher">
                  <mat-error *ngIf="registerForm.hasError('notSame')">
                    Passwords do not match
                  </mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" class="login-button" (click)="register()">
                  Sign Up
                </button>
              </form>
            </mat-card-content>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </div>
</div>