<div class="d-flex justify-content-center align-items-center">
  <mat-card style="width: 75%; padding-bottom: 22px;">
    <div class="header-content p-3 title bg-light-gray">
      <h6 class="m-0">
        Course to add to My Courses
      </h6>
    </div>

    <div class="course-content">
      <div class="fields mt-1">
        <div class="field mat-select">
          <mat-form-field for flex class="md-icon-float md-block md-title">
            <mat-select placeholder="Choose Code" [(ngModel)]="codeForm.value">
              <mat-option *ngFor="let codeOption of codeOptions" [value]="codeOption">
                {{codeOption}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- <div class="field">
          <mat-form-field>
            <input matInput [(ngModel)]="grade" type="text" placeholder="Grade" name="grade" />
          </mat-form-field>
        </div> -->
        <div class="field mat-select">
          <mat-form-field for flex class="md-icon-float md-block md-title">
            <mat-select placeholder="Choose Grade" [(ngModel)]="gradeForm.value">
              <mat-option *ngFor="let gradeOption of gradeOptions" [value]="gradeOption">
                {{gradeOption}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="field">
          <mat-form-field>
            <input matInput [(ngModel)]="term" type="number" placeholder="Term" name="term" />
          </mat-form-field>
        </div>
      </div>
    </div>
    <mat-card-actions vertical-align='bottom' align='end' style="margin: 10px 10px 0 0;">
      <button mat-raised-button color="primary" (click)="addToMycourse()">
        Add Course
      </button>
    </mat-card-actions>
  </mat-card>
</div>