<div class="d-flex flex-row justify-content-between align-items-baseline">
  <h2>Grade Distribution</h2>
  <div class="d-flex flex-row justify-content-end">
    <h4 class="green mb-0 mr-2">Total Grades: </h4>
    <h4 class="mb-0"> {{this.courses.length}} </h4>
  </div>
</div>

<div class="d-flex justify-content-start align-items-center w-100 mt-3 mb-3">
  <a (click)="goBack()" class="green circular-btn d-flex justify-content-center align-items-center">
    <mat-icon>keyboard_arrow_left</mat-icon>BACK
  </a>
</div>

<mat-card>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="faculty">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Faculty </mat-header-cell>
      <mat-cell *matCellDef="let catalog"> {{catalog.faculty}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="department">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Department </mat-header-cell>
      <mat-cell *matCellDef="let catalog"> {{catalog.department}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="code">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Code </mat-header-cell>
      <mat-cell *matCellDef="let catalog"> {{catalog.code}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="section">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Section </mat-header-cell>
      <mat-cell *matCellDef="let catalog"> {{catalog.section}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6"> Loading... </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': dataSource!=null}"></mat-footer-row>
  </mat-table>
</mat-card>
<mat-paginator [pageSize] = "10" [pageSizeOptions] = "[10, 25, 50]" showFirstLastButtons></mat-paginator>