/* .login-page {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; 
} */


/* #3f7999 */
/* #333333; */

/*
  #5E10BC
  #7E54D9
  #8FD988
  #70C056
  #240259
  #949494

  #478559
  #161748
  #091f36
*/

h1 {
  opacity: 100 !important;
}

.login-page {
  /* position: relative; 
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; */
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
  /* background:rgba(255,255,255,0.5); */
}

.login-page::before {    
    content: "";
    /* background-image: url("./../../assets/solar-lights.jpg"); */
    /* background-image: url("./../../assets/cubes.jpg"); */
    background-image: url("./../../assets/purple-diagonal-lines.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

mat-card {
  width: 30%;
  margin: 10% auto;
  border-radius: 8px;
}
mat-form-field, mat-checkbox {
  width: 80%;
  display: block;
  margin: auto;
}
mat-card-content {
  margin-top: 20px;
}

.login-button {
  margin-top: 20px;
  display: block;
  width: 80%;
  margin: 20px auto;
}

