
.form-container{
  background-color: #3899ef;
  border-radius: 25px;
  height: 400px;
  text-align: center;
}

.title{
  color: white;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}


form{
  height: 80%;
  width: 85%;
  margin: auto;
}


mat-form-field{
  width: 100%;
  background-color: #68de9d;

  border-radius: 10px;
  margin: 1%;
}

.button{
  margin: 2% 10%;
  height: 15%;
  width: 30%;
  border-radius: 10px;
  background-color: gray;
  color: black;
}

.button:hover{
  border: 2px solid white;
  opacity: 0.8;
}

#submit-button{
  background-color: #68de9d;
}
