<div class="form-container">
  <span class="title">Log In</span>
  <br>
  <form class="form">
    <mat-form-field appearance="fill">
      <mat-label>email</mat-label>
      <input matInput placeholder="john@email.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>password</mat-label>
      <input matInput #input required placeholder="Password" [type]="hide ? 'password' : 'text'" [formControl]="password" required>
      <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-hint>Must be 8 or more characters</mat-hint>
      <mat-hint align="end">{{input.value?.length || 0}}/8</mat-hint>
    </mat-form-field>

    <br>
    <input type="button" id="back-button" class="button" value="Back">
    <input type="submit" id="submit-button" class="button" value="Sign In">

  </form>

</div>


