mat-card {
  height: 600px;
  overflow: auto;
}

mat-table {
  background: lightcyan;
  min-height: 90%;
}

td {
  border: 1px solid white;
}

.clickable {
    height: 50px;
    background: gray;
}

.clickable:hover {
    background: green;
}
