:host {
  display: flex;
  flex-flow: column;
}

.app-middle {
  max-height: 89vh;
  /* background-color: blue; */
}

/* 
  Made sidebar fixed to left side of the page, because
  for some reason it's height was being affected by the mat-table 
*/
app-sidebar {
  position: fixed;
  left: 0;
  padding-left: 40px;
  height: 100%;
  width: 10%;
}

.container {
  /* height: 100%; */
  max-height: 100%;
  margin-top: 20px;
}

app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}



/* .header {
  flex-shrink: 0;
  flex-grow: 0;
}


.footer{
  flex-shrink: 0;
  flex-grow: 0;
} */



/* :host {
  box-sizing: border-box;
 }
 body {
   margin: 0;
 }
 #main {
   display: flex;
   min-height: calc(100vh - 40vh);
 }
 #main > article {
   flex: 1;
 }
 #main > nav,
 #main > aside {
   flex: 0 0 20vw;
   background: beige;
 }
 #main > nav {
   order: -1;
 }
 header, footer, article, nav, aside {
   padding: 1em;
 }
 header, footer {
   background: yellowgreen;
   height: 20vh;
 } */
