<app-header flexLayout="column"></app-header>

<div class="app-middle">
  <div class="terrain">
    <router-outlet></router-outlet>
  </div>
</div>

<app-footer flexLayout="column"></app-footer>



<!-- <div fxFlex="12">
    <app-sidebar></app-sidebar>
  </div> -->



<!-- <header style="height: 7vh; background-color: pink">
  Header
</header> -->

<!-- <div class="router-container" style="display: flex; min-height: calc(100vh - 14vh);">
  <div style="flex: 10">
    <router-outlet></router-outlet>
  </div>
  <div style="flex: 1">
    <app-sidebar></app-sidebar>
  </div>
</div>

<footer style="height: 7vh; background-color: purple">
  Footer
</footer> -->
<!-- <app-footer></app-footer> -->
















<!-- <body>
  <header>Header</header>
  <div id="main">
    <article>Article</article>
    <nav>Nav</nav>
    <aside>Aside</aside>
  </div>
  <footer>Footer</footer>
</body> -->

<!-- root route should be apps-container.component  -->